.footer {
	background-color: rgb(62, 62, 62);
	padding: 50px 0;
	font-size: 32px;
    color: #fff;

	h1 {
		font-size: 32px;
	}

	&__title{
		font-size: 20px;
	}

	&__additional-info{
		margin-right: 40px;
		h1{
			font-size: 24px;
		}
	}

	&__wrapper{
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
	}

	&__links{
		padding: 0 20px;

		&__title{
			font-size: 24px;
			margin-bottom: 10px;
		}

		ul{
			li{
				font-size: 16px;
				margin-bottom: 5px;
			}
		}
		
	}

	&__contacts{
		padding: 0 20px;
		&__title{
			font-size: 24px;
			margin-bottom: 10px;
		}

		ul{
			li{
				font-size: 16px;
				margin-bottom: 5px;
			}
		}
	}

	@media (max-width: 1200px) {
		font-size: 26px;
	}
}

 
.footer-links a:hover {
	text-decoration: underline;
}
 
  
@media screen and (max-width: 768px) {
	.footer__wrapper {
	  flex-direction: column;
	  align-items: center;
		justify-content: center;
	}
   
}
  
  
  
  
